{% extends 'board/base.html' %}
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

{% block content %}
<style>
    .style-2 {
    list-style-type: "\1F7E2";
    }
    .style-1 {
    list-style-type: "\01f449";
    }
    html, body {
    background-color: #75b798;
    }
</style>
<ul>
    <ul>
        <li class="style-1"><h2 class="style-1">Это страница с нашими контактами</h2></li>
        </ul>
    <li class="style-2"><h3>Автор - <i>{{name}}</i></h3></li>
    <li class="style-2"><h3>Адрес - <i>{{email}}</i></h3></li>
</ul>
<br>
<hr>
<a href="{% url 'board:index'%}"><h3>На главную страницу</h3></a>
{% endblock content %}