{% extends 'board/base.html' %}

{% block content %}
<style>
form{
background-color:#ffffff;
width:70%;
margin:0 auto;
padding:15px;
}

</style>


<!--    <h2>{{title}}</h2>-->

   <form action="" method="post">
    <fieldset>
    <legend>{{title}}</legend>
      <label>{% csrf_token %}</label>
     <label>{{ form.as_p }}</label>
     <label><button type="submit">Редактировать</button></label>
    </fieldset>
   </form>


<br>
<a href="{% url 'board:index'%}"><h3>На главную страницу</h3></a>

{% endblock content %}


