{% extends 'board/base.html' %}

{% block content %}
<ul>
    <li><h2>Объявления списком</h2></li>
    <br>
    <ul>
        {% for post in posts %}
        <li><p>Автор: {{post.author}}: <a href="{{ post.get_absolute_url }}"> Редактировать:
            {{post.title}}</a></p>
            <p>{{post.text}}</p>
            <p>{{post.created_at}}</p>
             <img width="150px" height="100px" src="/media/{{post.image}}">
        </li>
        <hr>
        {% endfor %}
    </ul>


    <a href="{% url 'board:index' %}"><h3>На главную страницу</h3></a>
</ul>
{% endblock content %}