{% extends 'board/base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'style_table.css' %}" rel="stylesheet">
<!--<style>-->
<!--  table {-->
<!--font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;-->
<!--font-size: 14px;-->
<!--border-radius: 10px;-->
<!--border-spacing: 0;-->
<!--text-align: center;-->
<!--margin: 0 auto-->
<!--}-->
<!--th {-->
<!--background: #BCEBDD;-->
<!--color: white;-->
<!--text-shadow: 0 1px 1px #2D2020;-->
<!--padding: 10px 20px;-->
<!--}-->
<!--th, td {-->
<!--border-style: solid;-->
<!--border-width: 0 1px 1px 0;-->
<!--border-color: white;-->
<!--}-->
<!--th:first-child, td:first-child {-->
<!--text-align: left;-->
<!--}-->
<!--th:first-child {-->
<!--border-top-left-radius: 10px;-->
<!--}-->
<!--th:last-child {-->
<!--border-top-right-radius: 10px;-->
<!--border-right: none;-->
<!--}-->
<!--td {-->
<!--padding: 10px 20px;-->
<!--background: #F8E391;-->
<!--}-->
<!--tr:last-child td:first-child {-->
<!--border-radius: 0 0 0 10px;-->
<!--}-->
<!--tr:last-child td:last-child {-->
<!--border-radius: 0 0 10px 0;-->
<!--}-->
<!--tr td:last-child {-->
<!--border-right: none;-->
<!--}-->
<!--</style>-->

<div>
    <h2 class="how">Список объявлений</h2>
    <table>
        <caption></caption>
        <colgroup></colgroup>
        <thead>
        <tr>
            <th><h2>Автор</h2></th>
            <th><h2>Заголовок</h2></th>
            <th><h2>Текст объявления</h2></th>
            <th><h2>Дата объявления</h2></th>
            <th><h2>Сайт</h2></th>
            <th><h2>Изображение</h2></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>
                <h3>{{post.author}}</h3>
            </td>
            <td>
                <h3>{{post.title}}</h3>
            </td>
            <td>
                <h3>{{post.text}}</h3>
            </td>
            <td>
                <h3>{{post.created_at}}</h3>
            </td>
            <td>
                <h3>{{post.url_adders}}</h3>
            </td>
            <td>
                <img width="150px" height="100px" src="/media/{{post.image}}">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<a href="{% url 'board:index'%}"><h2>На главную страницу</h2></a>
{% endblock content %}


