{% extends 'users/base.html' %}
{% block content %}

<form class="row" method="post">
    {% csrf_token %}
    <!--  {{ form.as_p }}-->
    <div class="col-4 mx-5">
        <h2 class="col-12 mb-2 mx-3">Пожалуйста, войдите на сайт</h2>
        <div class="mb-4 form-control-lg">
            <i><label class="form-label">{{form.username.label}}: </label></i>
            <p>{{form.username}}</p>
            <i><label class="form-label">{{form.password.label}}:</label></i>
            <p>{{form.password}}</p>
        </div>
        <button type="submit" class="btn btn-primary col-4 mb-2 mx-3"><i class="bi bi-images mx-2"></i>Войти</button>
    </div>
</form>

{% endblock content %}
